<div class="flex flex-column align-items-center">
    <div class="inline-flex align-items-center mb-3">
        <i class="pi pi-envelope icon"></i>
        <span class="ml-2 text-gray-800">contact&#64;contacto.com</span>
    </div>
    <div class="inline-flex align-items-center mb-3">
        <i class="pi pi-map-marker icon"></i>
        <span class="ml-2 text-gray-800">Av. 16 de julio</span>
    </div>
    <div class="inline-flex align-items-center">
        <i class="pi pi-phone icon"></i>
        <span class="ml-2 text-gray-800">(01) 3453 - 654</span>
    </div>
</div>
<div class="flex justify-content-center mt-5">
    <p-button class="mr-2" icon="pi pi-facebook" [rounded]="true" />
    <p-button class="mr-2" icon="pi pi-twitter" [rounded]="true" />
    <p-button class="mr-2" icon="pi pi-linkedin" [rounded]="true" />
</div>