<div [formGroup]="parentForm">
    <div class="formgrid grid">
        <div class="field col-12 md:col-12">
            <label for="addres" class="text-gray-800">Dirección<span class="text-red-500">*</span></label>
            <input [ngClass]="getError('addres') ? 'invalid' : ''" formControlName="addres" id="addres" type="text" class="text-base text-200 surface-800 p-2 border-1 surface-800 border-round outline-none focus:border-primary w-full">
            <small class="text-red-300" [hidden]="!getError('addres')">{{getErrorMessage('addres')}}</small>
        </div>
        <div class="field col-12 md:col-12">
            <label for="country" class="text-gray-800">País<span class="text-red-500">*</span></label>
            <p-dropdown
                [ngClass]="getError('country') ? 'invalid' : ''"
                formControlName="country"
                (ngModelChange)="validateCountry()"
                [options]="countries" 
                optionLabel="name" 
                placeholder="Seleccioné un país" />
                <small class="text-red-300" [hidden]="!getError('country')">{{getErrorMessage('country')}}</small>
        </div>
        <div [hidden]="getControl('Deparment').disabled" class="field col-12 md:col-6">
            <label for="Deparment" class="text-gray-800">Departamento<span class="text-red-500">*</span></label>
            <p-dropdown
                [ngClass]="getError('Deparment') ? 'invalid' : ''"
                formControlName="Deparment"
                (ngModelChange)="validateDepartment()"
                [options]="departments" 
                optionLabel="name" 
                placeholder="Seleccioné un departamento" />
                <small class="text-red-300" [hidden]="!getError('Deparment')">{{getErrorMessage('Deparment')}}</small>
        </div>
        <div class="field col-12" [ngClass]="getControl('Deparment').disabled ? 'md:col-12' : 'md:col-6'">
            <label for="City" class="text-gray-800">Ciudad<span class="text-red-500">*</span></label>
            <p-dropdown
                [ngClass]="getError('City') ? 'invalid' : ''"
                formControlName="City"
                [options]="cities" 
                optionLabel="name" 
                placeholder="Seleccione una ciudad" />
                <small class="text-red-300" [hidden]="!getError('City')">{{getErrorMessage('City')}}</small>
        </div>
    </div>
</div>