<p class="text-4xl text-center">Formulario de contacto</p>

<div class="bg-white">   
    <p class="text-gray-800 text-4xl text-center mb-3 pb-0 pt-2">Contacto</p>
    <div class="grid px-4 pb-4">
        <div class="col-12 sm:col-12 md:col-12 lg:col-6 p-8">
            <app-info></app-info>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-6">
            <form [formGroup]="form">
                <app-personal-info [user]="user$ | async"></app-personal-info>
                <app-address-info [user]="user$ | async"></app-address-info>
                <app-comments [user]="user$ | async"></app-comments>
            </form>
            <p-button [disabled]="!form.valid" (click)="save(lastUserId)" [label]="id ? 'Actualizar' : 'Enviar'" />
        </div>
    </div>
</div>