::ng-deep .p-dropdown {
    background-color: #fafafa;
    border-color: #858585;
    width: 100%;
}

::ng-deep .p-calendar {
    width: 100%;
}

::ng-deep .p-inputtext {
    background-color: #fafafa;
    border-color: #858585;
}