<div [formGroup]="parentForm">
    <div class="formgrid grid">
        <div class="flex flex-column field col-12 md:col-6">
            <label for="sex" class="text-gray-800">Sexo<span class="text-red-500">*</span></label>
            <p-dropdown
                [ngClass]="getError('sex') ? 'invalid' : ''"
                formControlName="sex"
                [options]="sexs" 
                optionLabel="name" 
                placeholder="Seleccioné un sexo" />
                <small class="text-red-300" [hidden]="!getError('sex')">{{getErrorMessage('sex')}}</small>
        </div>
        <div class="flex flex-column field col-12 md:col-6">
            <label for="date_birthday" class="text-gray-800">Fecha de nacimiento<span class="text-red-500">*</span></label>
            <p-calendar [ngClass]="getError('date_birthday') ? 'invalid' : ''" formControlName="date_birthday"/>
            <small class="text-red-300" [hidden]="!getError('date_birthday')">{{getErrorMessage('date_birthday')}}</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="name" class="text-gray-800">Nombre<span class="text-red-500">*</span></label>
            <input pInputText [ngClass]="getError('name') ? 'invalid' : ''" formControlName="name" id="name" type="text" class="text-base text-200 surface-800 p-2 border-1 surface-800 border-round outline-none focus:border-primary w-full">
            <small class="text-red-300" [hidden]="!getError('name')">{{getErrorMessage('name')}}</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="last_name" class="text-gray-800">Apellido<span class="text-red-500">*</span></label>
            <input pInputText [ngClass]="getError('last_name') ? 'invalid' : ''" formControlName="last_name" id="last_name" type="text" class="text-base text-200 surface-800 p-2 border-1 surface-800 border-round outline-none focus:border-primary w-full">
            <small class="text-red-300" [hidden]="!getError('last_name')">{{getErrorMessage('last_name')}}</small>
        </div>
        <div class="field col-12 md:col-12">
            <label for="email" class="text-gray-800">Email<span class="text-red-500">*</span></label>
            <input pInputText [ngClass]="getError('email') ? 'invalid' : ''" formControlName="email" id="email" type="text" class="text-base text-200 surface-800 p-2 border-1 surface-800 border-round outline-none focus:border-primary w-full">
            <small class="text-red-300" [hidden]="!getError('email')">{{getErrorMessage('email')}}</small>
        </div>
    </div>
</div>