<p class="text-4xl text-center">Tabla de registros</p>

<div class="card">
    <p-table
        [value]="users"
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['name', 'last_name']">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>País</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th>Comentario</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
                <th>
                    <input pInputText type="text">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.sex }}</td>
                <td>{{ user.date_birthday }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.addres }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.Deparment }}</td>
                <td>{{ user.City }}</td>
                <td>{{ user.comment }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>