<p-toast />
<p class="text-4xl text-center">Tabla de registros</p>

<b [hidden]="!(loading$ | async)">Cargando... </b>

<div [hidden]="(loading$ | async)" class="card">
    <div class="mb-4">
        <p-button [routerLink]="'/contact-form'" label="Agregar nuevo contacto" />
    </div>
    <div class="mb-4">
        <p-button (click)="export('csv')" label="Export como CSV" />
    </div>
    <div class="mb-4">
        <p-button (click)="export('pdf')" label="Exportar como PDF" />
    </div>
    <div class="mb-4">
        <p-button (click)="export('excel')" label="Export como Excel" />
    </div>
    <p-table
        [value]="(filteredUsers$! | async)"
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['name', 'last_name']">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:20%">
                    Nombre <p-sortIcon field="name" />
                <th pSortableColumn="last_name" style="width:20%">
                    Apellido <p-sortIcon field="last_name" />
                <th pSortableColumn="sex" style="width:20%">
                    Sexo <p-sortIcon field="sex" />
                <th pSortableColumn="date_birthday" style="width:20%">
                    Fecha de nacimiento <p-sortIcon field="date_birthday" />
                <th pSortableColumn="email" style="width:20%">
                    Email <p-sortIcon field="email" />
                <th pSortableColumn="addres" style="width:20%">
                    Dirección <p-sortIcon field="addres" />
                <th pSortableColumn="country" style="width:20%">
                    País <p-sortIcon field="country" />
                <th pSortableColumn="Deparment" style="width:20%">
                    Departamento <p-sortIcon field="Deparment" />
                <th pSortableColumn="City" style="width:20%">
                    Ciudad <p-sortIcon field="City" />
                <th pSortableColumn="comment" style="width:20%">
                    Comentario <p-sortIcon field="comment" />
                <th>Acciones</th>
            </tr>
            <tr>
                <th>
                    <input (input)="onFilterChange('name', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('last_name', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('sex', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('date_birthday', $event.target)" pInputText type="date">
                </th>
                <th>
                    <input (input)="onFilterChange('email', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('addres', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('country', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('Deparment', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('City', $event.target)" pInputText type="text">
                </th>
                <th>
                    <input (input)="onFilterChange('comment', $event.target)" pInputText type="text">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.sex }}</td>
                <td>{{ user.date_birthday }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.addres }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.Deparment }}</td>
                <td>{{ user.City }}</td>
                <td>{{ user.comment }}</td>
                <td>
                    <div class="inline-flex">
                        <p-button [routerLink]="'/contact-form/' + user.id" class="mr-2" icon="pi pi-pen-to-square" />
                        <p-button (click)="deleteUser(user.id)" severity="danger" icon="pi pi-trash" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>